/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */

}
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline;box-sizing:border-box}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
	font-family: 'Roboto',sans-serif;
}
a{
	color: inherit;
	text-decoration: none;
}
.hidden{display:none;}

.screen{
	position: fixed;
	top:0;
	right: 0;
	left: 0;
	bottom: 0;
	overflow-y: auto;
	background-color: #fff;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.screen > h2{
	font-size: 1.5em;
	padding: .5em;
	text-align: center;
	background-color: fuchsia;
	color: #fff;
}

.off-screen{
	-webkit-transform: translateX(100%);
	transform:translateX(100%)
}
#contacts-viewer{
	z-index: 0;
}
#message-interface{
	z-index: 5;
}
#contacts-list {
	margin : 0 0 2em;
	padding: 0;
	display: table;
	width: 100%;
	table-layout: fixed;

}
#contacts-list > li{

	display: table-row;
	list-style: none;
	padding:  0.5em;
	margin: 0;

}#contacts-list > li > a:active{
	background-color: blue;
}
#contacts-list > li+li > *{
	border-top: 1px solid #ccc;
}

#contacts-list > li > .contact{
	display: table-cell;
	padding: .5em;
	margin-right: 2em;

}

#contacts-list > li > .contact >.avatar{
	height: 3em;
	width: 3em;
	border-radius: 50%;
	margin-right: 0.5em;
	float:left;

}
#contacts-list > li > .check{
	display: table-cell;
	padding: .5em;
	width: 2em;
	text-align: center;
	background-color: green;
	vertical-align: middle;

}
#contacts-list > li > .check > input[type="checkbox"]{
	-webkit-appearance: none;
	display: inline-block;
	margin: 0;
	width:1em;
	height:1em;
	background-color: #fff;
	font-size: 1em;
	border-radius: 0.25em;
}
#contacts-list > li > .check > input[type="checkbox"]:checked{
	background-color: blueviolet;
}
#contacts-list > li > .check > input[type="checkbox"]:focus{
	outline: none;
}
#contacts-list-validator {
	position: fixed;
	right: 0;
	bottom: 0;
	text-align: center;
	background: cyan;
	width: 100%;
	height: 3em;
}
#contacts-list-validate {
	-webkit-appearance: none;
	margin: 0;
	padding: 0.5em;
	background-color: yellow;
	border: none;
	display: block;
	width: 100%;
	font-size: 1.5em;


}
#location-preview{padding-top:50%}